html {
    scroll-behavior: smooth;

}

body {
    margin: 0; /* some browsers likechrome give margin to body automatically, hence require to make it 0 */

    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: 0; /* dont let navbar move with jumbotron*/
    left: 0;
    width: 97%;
    padding:0 20px;
    box-shadow: 0 7px 15px rgb(114, 114, 114);
    background-color:  #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1000;

}


.container {
    display: flex;
    justify-content: space-between; /*gives space between elements*/
    align-items: center;
    margin: 0;

}

.brand {
    display: inline;
    color: black;
    font-family: "Oleo Script Swash Caps", system-ui;
    font-size: 55px;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 10px; /* removes margin of brand name, makes navbar not too large*/
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    
}
.brand:hover {
    color: #f5a;
    text-shadow: none;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;

}

.menu li {

    margin-right: 20px;
    font-weight: 700;
}

.menu li:last-child {
    margin-right: 10px;
  }

.menu a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: aliceblue;

}

.menu a:hover {
    color: #f5a;

}

/* underline navbar effect */
.menu li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f5a;
    transform: scaleX(0);
    transition: transform 0.3s ease; /* Add transition for transform property */
  }
  
.menu li a:hover::before {
transform: scaleX(1); /* Scale the pseudo-element to create a pop-up effect */
}

.menu li .contact {
    border: 5px solid rgb(255, 255, 255);
    color: #000000;
    background-color: rgb(255, 255, 255);
}

.menu li .contact:hover {
    border: 5px solid #f5a;

    background-color: #f5a;
    transition: none;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    color: aliceblue;
    font-size: 35px;
}

.menu.show {
    display: flex; /* Show the menu when the "show" class is added */
    flex-direction: column; /* Display menu items vertically */
    box-shadow: 5px 0 30px rgb(0, 0, 0);
}  
.menu.show li {
    margin-right: 0px; /* Remove right margin for menu items */
    margin-bottom: 10px;
    
}
.menu.show a {
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
    padding: 10px; /* Add padding to menu items for better touch targets */
  }

  .menu.show .contact {
    display: block;
    text-decoration: none;
    color: #f5a;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s;
    padding: 10px; /* Add padding to menu items for better touch targets */
  }

  .menu.show .contact:hover{
    background-color: #f5a;
    color: aliceblue;
    border: none;
  }

@media screen and (max-width: 630px) {
    .menu {
        display: none;
        position: fixed;
        top: 0;
        right: -200px; /* Move the menu off-screen initially */
        width: 150px;
        height: 100%;
        background-color: #222;
        overflow-y: auto;
        transition: right 0.4s ease;
        z-index: 1;

    }

    .menu li {
        margin-top: 20px;
        list-style: none;



    }


    .menu.show {
        left: 0; /* Move the menu into view when the "show" class is added */
      } 
    .hamburger-menu {
        display: block;

    }

    .menu a:hover {
        color: #f5a;
        box-shadow: 0 5px 5px white;
        transition: color 0.3s ease;

    }
}
